 
html {
  scroll-behavior: 2 smooth;
}

body{
  background-color:ghostwhite;
}

.about-container {
height: auto;
margin: auto;
margin-bottom: 4em;
text-align: center;
}


.about-header {
  margin-top: .5em;
  font-size: 50pt;
  margin-bottom: .5em;
  
}
.about-header > h1 {
  margin-top: .5em;
}

.us {
  color: #342E37;
}

.about-header > a {
  font-size: inherit;
  color: rgba(0, 0, 255, 0.637);
}
.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1em;
}

.about-content>* {
  flex: 1 1 300px;
}

.about-box {
  margin-bottom: 3.5em;
  max-width: 450px;
} 

.card{
  max-width: 450px;
  margin-right: 1rem;
  margin-left: 1rem;
  box-shadow:  20px 20px 60px #d3d3d9, 
             -20px -20px 60px #ffffff;
}

.card .card-content p {
  margin: 1.5rem;
}

.about-desc > h1 {
  font-size: 24pt;
  margin: 10pt;
  margin-bottom: 1.5rem;
  padding: 10pt;
  padding-bottom: 0;
  text-align: center;
  color: #342E37;
}

.about-desc > p {
  margin-bottom: 1.5rem;
}

.about-desc {
  font-size: 14pt;
  margin: auto;
  align-content: center;
}

.cta-test {
  color: #F7F7F7;
}

.navbar-search-area {
  position: relative;
  display:block;
  background-image: url('images/map-side.jpg');
  background-color: #F7F7F7;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  width: auto;
  padding: 3rem 2rem;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin-bottom: 5em;
}

input{
  text-overflow: ellipsis;
}

.search-area {
align-items: center;
display: grid;
position: relative;
width: fit-content;
margin: auto;
margin-bottom: 5pc;
padding: 2pt; 
}

.tab {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  margin: auto;
  margin-top: none;
  margin-bottom: 0;
  transition: 0.3s;
  align-items: center;
  min-width: 181.5px;

}

.tab > .tablinks {
  box-shadow:inset 0px 1px 0px 0px #F7F7F7;
  background-color: #F7F7F7;
  border-top-left-radius: 10pt;
  border-top-right-radius: 10pt;
  border-bottom: none;
  border-left: 6.0pt solid #F7F7F7;
  border-right: 6.0pt solid #F7F7F7;
  display:inline-block;
  cursor:pointer;
  color: #342E37;
  font-size: 22pt;
  padding:8pt 20pt;
  text-decoration:none;
  min-width: 182px;
}

.tablinks:active {
  background: #F7F7F7;
}



.tab button:hover {
  transform: scale(1.15);
  background-color: rgba(247, 247, 247, 0.8);
  transition: background-color .3s;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.tab button:focus {
  background-color: rgba(247, 247, 247, 0.8);
  transition: background-color .3s;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.tabcontent {
font-size: 5px;
display: none;
margin: auto;
padding: 12px 24px;
border: 6.0pt solid white;
border-radius: 10pt;
border-top: none;
background-color: white;
min-width: 182px;
max-width: 520pt;
height: 60pt;
}

.search-button {
margin: auto;
margin-top: 4pt;
width: 160pt;
height: 45pt;
color: #342E37;
  box-shadow:inset 0px 0px 0px 0px white;
  background-color: white;
  border-radius:10pt;
  border:6.0pt solid #F7F7F7;
  display:inline-block;
  cursor:pointer;

  line-height: 16px;
  font-size: 16pt;
  padding:10pt 10pt;
}
.search-button:hover {
  transform: scale(1.15);
}

.search-button:active,.search-button:focus {
  transform: scale(1.15);
  background-color: white;
  position:relative;
  top:1px;
}

#search-cta{
  line-height: 16px;
}

#trash-img{
  margin-top: 2.7rem;
}

#taco-img{
  margin-top: 3.5rem;
}

#delivery-img{
  margin-top: 1rem;
}

@media screen and (min-width: 521px) {
  .tab-icon{
    float: right;
    margin-left: 15px;
    line-height: 35px;
  }
}

@media screen and (max-width: 818px) {
  .tab > .tablinks{ 
    border-bottom-left-radius: 10pt;
    border-bottom-right-radius: 10pt;
    
  }
}

@media screen and (max-width: 520px) {
  .cta-test{
    margin-bottom: 3rem;
  }

  .tab > .tablinks {
    font-size: 15pt;
    min-width: 100px;
    height: 43px;
    padding: 4pt 5pt;
    text-overflow: ellipsis;
  }

  h1 {
    font-size: 3.4rem;
  }

  .tab-icon{
    font-size: 15px;
    line-height: 35px;
    margin-left: 3px;
  }

}