

  .account-img{
    margin-top: auto;
    margin-bottom: auto;
    min-width: 200;
    max-width: 400;
    max-height:180px;
    /* max-height:100px; */
    border: 3px solid rgba(0, 0, 0, 0.3);
    padding: 10px;
  }

  body {
    background-color: ghostwhite;
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* background-image: url('images/orange-photo.jpg'); */
    /* Remember to change this url by removing static when you move it to statics */
  }

  .title-banner {
    background-color:#342E37;
    /* background-color:#9FD356; */
    /* background-color:#F2F2F2; */
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  .title-text {
    color: ghostwhite;
    /* text-align: center; */
    margin-left: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
   
  /* .btn{
    box-shadow:  20px 20px 60px #d3d3d9, 
    -20px -20px 60px #ffffff;
  } */
  
  .edit, .edit:hover{
    background-color: #9FD356;
  }

  .posts, .posts:hover{
    background-color: #FA824C;
  }


  .card .card-content {
    padding-top: 8px;
  }
  
  .text-secondary{
    margin-left: 3rem;
  }

  h4{
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 7rem;
  }

  .p-line{
    text-align: left;
    padding-bottom: 2%;
    /* background-color:#F2F2F2; */
  }


  .card {
    border-radius: 20px;
    box-shadow:  20px 20px 60px #d3d3d9, 
    -20px -20px 60px #ffffff;
    
  }


  .col{ 
    max-width: auto;
  }

  .profile-content > .row{
    margin-bottom: 0;
    padding-bottom: 2%;

  }

  a{
    color: ghostwhite;
    font-size:20px;
  }

  .desc{
    padding-top: 2%;
    padding-bottom: 2%;
    background-color:#F2F2F2;
    text-align: left;
    padding-left: 10%;
    }

  @media screen and (min-width: 621px) {
    .main-row{ 
    display: flex;
    width: 100%;
    justify-content: center;
    }


    .account-img{
      margin-left: auto;
      margin-right: 2.5%;
    }


    .right-col {
      /* margin-right: 2.5%; */
      content: '';
      flex: 3.5;
      display: flex;
      /* justify-content: center; */
      /* align-items: center; */

    }

    .left-col {
      /* margin-left: 2.5%; */
      flex: 3.5;
    }
    
  }

  @media screen and (max-width: 620px) {
    .main-row{ 
    display: auto;
    }

    .donor-status{
      padding-top: 10%;
    }

    .btn {
    margin-top: 4%;
    }

    .account-img{
      min-width: 160;
      max-width:100%;
    }

  }

