/* Website-Wide CSS Styling! */


@font-face {
  font-family: 'certa_sansmedium';
  src: url('./fonts/certa_sans_medium-webfont.woff2') format('woff2'),
       url('./Templates/main/css/fonts/certa_sans_medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'latolight';
  src: url('./fonts/lato-light-webfont.woff2') format('woff2'),
       url('./lato-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

h1 {
  font-family: 'certa_sansmedium', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
}

h2 {
  font-family: 'certa_sansmedium', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
}

h3 {
  font-family: 'certa_sansmedium', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
}

p {
  font-family: 'latolight', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
}

span {
  font-family: 'latolight', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
}

