{% extends 'main/header.html' %}
{% load static %}

{% block content %}

<head>
  <title>Contact - Sal Hates Waste</title>
  <!-- {% load crispy_forms_tags %} -->
  {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'profile_view_style.css' %}">
</head>


<body>
  <div class="container col " style="margin-bottom: 12em;">
    <div class="card hoverable">
      <div class="title-banner">
        <h2 class="title-text center-align"> Contact Form</h2>
      </div>

      <form method="post">
         {% csrf_token %}
         {{ form.as_p }}
         <div class="form-actions">
         <div class="container">
         <div class="row">
            <div class="col m10 offset-m1 s12">
                  <div class="row">
                     <form class="col m8 offset-m2 s12">
                        <div class="row">
                           <br>
                              <div class="input-field col s12">
                                 <input id="name" type="text">
                                 <label for="name">Name</label>
                              </div>
                              <div class="input-field col s12">
                                 <input id="email" type="email" class="form-input">
                                 <label for="email">Email</label>
                              </div>
                              <div class="input-field col s12">
                              <textarea id="message" class="materialize-textarea"></textarea>
                              <label for="message">Message</label>
                              </div>
                        </div>
                        
                        <div class="row">
                              <div class="col m12">
                              <br>
                              <p class="center-align"><button class="btn btn-large waves-effect waves-light" type="submit" name="action">Send Message</button></p>
                              </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
         </div>
      </form>
    </div>
  </div>

  {% include 'main/footer.html' %}
</body>

{% endblock %}