<footer class="page-footer" style="background-color: #342E37">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Company Bio</h5>
        <p class="grey-text text-lighten-4">We are couple of somewhat recent college  grads trying to help out. Any amount would help support and continue development on this project and is greatly appreciated.</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Social Media</h5>
        <ul>
          <li><a class="white-text" href="#!">Facebook</a></li>
          <li><a class="white-text" href="#!">Instagram</a></li>
          <li><a class="white-text" href="#!">Twitter</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Menu</h5>
        <ul>
          <li><a class="white-text" href="#!">About</a></li>
          <li><a class="white-text" href="#!">Map</a></li>
          <li><a class="white-text" href="#!">Login</a></li>
          <li><a class="white-text" href="#!">Sign up</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Made by <a class="light-blue-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>