<footer class="page-footer" style="background-color:#fff; box-shadow: 0 1pt 0 #FFF, 0 1pt 0 #CFCFCF inset;">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="darkslategray-text">Company Bio</h5>
        <p class="grey-text" style="color: #342E37">We are couple of somewhat recent college  grads trying to help out. Any amount would help support and continue development on this project and is greatly appreciated.</p>


      </div>
      <div class="col l3 s12">
        <h5 class="darkslategray-text">Social Media</h5>
        <ul>
          <li><a class="darkslategray-text" href="#!">Facebook</a></li>
          <li><a class="darkslategray-text" href="#!">Instagram</a></li>
          <li><a class="darkslategray-text" href="https://twitter.com/salhateswaste">Twitter</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="darkslategray-text">Menu</h5>
        <ul>
          <li><a class="darkslategray-text" href="/#about-title">About</a></li>
          <li><a class="darkslategray-text" href="map_page">Map</a></li>
          <li><a class="darkslategray-text" href="login">Login</a></li>
          <li><a class="darkslategray-text" href="signup">Sign up</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container" style="color: #342E37">
    Made with <a class="darkslategray-text" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>