{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css ( I took out rel="stylesheet" to avoid a MIME error)-->
  <link type="text/css" href="{% static 'css/materialize.min.css' %}" media="screen,projection" />

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static '/js/materialize.js' %}"></script>
  <script src="{% static '/js/init.js' %}"></script>



  <!-- Wanted more material design icons -->
  <link href="css/materialdesignicons.min.css" media="all" type="text/css" />

  <link rel="stylesheet" type="text/css" href="{% static '/fonts/stylesheet.css' %}">
  <!-- Not sure we need the tinymce rich text editor tbh -->
  <!-- <link href="{% static 'tinymce/css/prism.css' %}" rel='stylesheet'> -->
  <!-- <link rel="stylesheet" type="text/css" href="{% static '/css/home_style.css' %}"> -->

  <link rel="apple-touch-icon" sizes="180x180" href="{% static '/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static '/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static '/site.webmanifest' %}">

</head>

<style>
.nav-search-container {
    display: grid;
    height: 120pt;
    margin: 40pt;
  }

  nav{
    height: 60pt;
    line-height: 75px;
    border-bottom: 1px solid rgb(218, 218, 218);

  }

.navbar {
    align-self: center;
    /* height: 240pt; */
    width: 90%;
    border: 20pt #342E37;
    border-radius: 7pt;
    margin: 50pt;
    margin-top: 20pt;
    padding: 10pt;  
  }

  .nav-wrapper {
    width: 90%;
  }

  li{
    font-family: 'latoregular', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
  }
li:hover {
  /* background: #9FD356; */
  
  color: #F7F7F7;
  transition: 0.3s;
}

</style>

<body>

  <!-- NAVBAR -->
  <section>

    <nav class="z-depth-0" style="background-color: white" role="navigation">
      <div class="nav-wrapper container" style="background-color:white">
        <!-- <a id="logo-container" href="" class=" center brand-logo">Salhateswaste</a> -->
        <a href="/"  class="center brand-logo">
          <img alt="Logo" src="{% static 'images/sal_hates_waste_logo.png' %}" height="60" style="display: block;  color: #ffffff; font-size: 16px; margin-top:5;" >
      </a>
        <ul class="right hide-on-med-and-down">
          {% if user.is_authenticated %}
          <!-- <li><a href="/account" style="color:#342E37;font-size:14pt;">{{ user.your_name }}</a></li> -->
          <li><a href="/my-account" style="color:#342E37;font-size:14pt;">My Account</a></li>
          <li><a href="/my-posts" style="color:#342E37;font-size:14pt;">My Posts</a></li>
          <li><a href="/logout" style="color:#342E37;font-size:14pt;">Logout</a></li>
          {% else %}
          <li><a href="/login" style="color:#342E37;font-size:14pt;">Login</a></li>
          <li><a href="/signup" style="color:#342E37;font-size:14pt;">Sign Up</a></li>
          
          {% endif %}
        </ul>

        <ul class="left hide-on-med-and-down">
          <li><a href="/#about-title" style="color:#342E37;font-size:13pt;">About</a></li>
          <li><a href="/map_page" style="color:#342E37;font-size:13pt;">Map</a></li>
          <li><a href="/contact" style="color:#342E37;font-size:13pt;">Contact</a></li>
          <li><a href="/profile-view" style="color:#342E37;font-size:13pt;">Profile</a></li>
          <li><a href="/volunteer" style="color:#342E37;font-size:13pt;">Volunteer!</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
          <li><a href="/" style="color:#342E37; font-size: x-large;">Home</a></li>
          <li><a href="/#about-title"  style="color:#342E37; font-size: x-large;">About</a></li>
          <li><a href="contact"  style="color:#342E37; font-size: x-large;">Contact</a></li>
          <li><a href="profile-view"  style="color:#342E37; font-size: x-large;">Profile</a></li>
          <li><a href="map_page" style="color:#342E37; font-size: x-large;">Map</a></li>
          {% if user.is_authenticated %}
          <li><a href="my-account"  style="color:#342E37; font-size: x-large;">My Account</a></li>
          <li><a href="my-posts"  style="color:#342E37; font-size: x-large;">My Posts</a></li>
          <li><a href="logout"  style="color:#342E37; font-size: x-large;">Logout</a></li>
          {% else %}
          <li><a href="login" style="color:#342E37;font-size: x-large;">Login</a></li>
          <li><a href="signup" style="color:#342E37;font-size: x-large;">Sign Up</a></li>
          <li><a href="/volunteer" style="color:#342E37;font-size:x-large;">Volunteer!</a></li>
          {% endif %}
        </ul>
        <!-- <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
        <a href="javascript:void(0);" data-target="nav-mobile" class="sidenav-trigger" >
          <i class="material-icons" style="color:#342E37;font-size:x-large;">menu</i>
        </a>
      </div>
    </nav>
  </section>
  {% if messages %}
  {% for message in messages %}
  {% if message.tags == 'success'%}
  <script>M.toast({ html: "{{message}}", classes: 'green rounded', displayLength: 2000 });</script>
  {% elif message.tags == 'info'%}
  <script>M.toast({ html: "{{message}}", classes: 'blue rounded', displayLength: 2000 });</script>
  {% elif message.tags == 'warning'%}
  <script>M.toast({ html: "{{message}}", classes: 'orange rounded', displayLength: 10000 });</script>
  {% elif message.tags == 'error'%}
  <script>M.toast({ html: "{{message}}", classes: 'red rounded', displayLength: 10000 });</script>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% block content %}
  {% endblock %}
</body>

<script>
  $(document).ready(function(){
    $('.sidenav').sidenav();
  });

</script>