<head>
    {% load static %}
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css ( I commented this out to avoid a MIME error)--> 
    <!-- <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/> -->

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Not sure we need the tinymce rich text editor tbh -->
    <!-- <link href="{% static 'tinymce/css/prism.css' %}" rel='stylesheet'>
    <script src="{% static 'tinymce/js/prism.js' %}"></script> -->

</head>

<style>

</style>

<body>

    <!-- NAVBAR -->
    <section>
      <nav>
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo center">Salhateswaste</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="about">About</a></li>
            <li><a href="contact">Contact</a></li>
          </ul>
        </div>
      </nav>
    </section>
{% block content %}
{% endblock %}
</body>