
{% extends 'main/header.html' %}

{% block 'body' %}

<head>
  {% load static %}
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css ( I took out rel="stylesheet" to avoid a MIME error)--> 
    <link type="text/css"  href="css/materialize.min.css"  media="screen,projection"/>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   
    <!-- Wanted more material design icons -->
    <link href="css/materialdesignicons.min.css" media="all" type="text/css" />
    
    <!-- Not sure we need the tinymce rich text editor tbh -->
    <!-- <link href="{% static 'tinymce/css/prism.css' %}" rel='stylesheet'>
    <script src="{% static 'tinymce/js/prism.js' %}"></script> -->

</head>

<style>

  html {
    scroll-behavior: 2 smooth;
  }
  .grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "." "." "." ".";
}
.about-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: ". ." ". .";
}


</style>



<body>


<br><br><br><br><br><br>



  <br><br><br><br><br><br>

<div class="grid-container">
  <div class="search-area">
    <img src="#">
  </div>

  <div class="container center">
    <div class="section">
      <div class="row">
        <div class="col s12 m4">
          <h1 class="center light-green-text"> About Us</h1><br>
          <p id="about" class="content-about">We are a few bums who did a thing</p>
        </div>
      </div>
    </div>
  </div>
  <div class="about-container">
    <div class="about-1">
      <h1 class="about-subhead">Things we do<h1>
      <p class="about-1-content">
        We do lots of things.
      </p>
      <img class="about-1-image" src="#">
    </div>
    <div class="about-2">
      <h1 class="about-subhead">Things we do<h1>
      <p class="about-2-content">
        We do lots of things.
      </p>
      <img class="about-2-image" src="#">
    </div>
  </div>

  
  <br><br><br><br><br><br>


    <footer class="page-footer light-green">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Company Bio</h5>
            <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Settings</h5>
            <ul>
              <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
              <li><a class="white-text" href="#!">Link 3</a></li>
              <li><a class="white-text" href="#!">Link 4</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
              <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
              <li><a class="white-text" href="#!">Link 3</a></li>
              <li><a class="white-text" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        Made by <a class="light-blue-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
      </div>
    </footer>
</div>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

</body>

{% endblock %}
