<!DOCTYPE html>

{% comment %} HOMEPAGE TEMPLATE {% endcomment %}


<head>
    {% load static %}
    <link href="{% static 'tinymce/css/prism.css' %}" rel='stylesheet'>
    {% comment %} {% load {% static 'tinymce/css/prism.css' %}%} {% endcomment %}

</head>


<body>

<h1>Donation Information</h1>

<form action="/action_page.php">
  <label for="Name of Organization">Name of Organization :</label><br><br>
  <input type="Name" id="org_name" name="org_name" placeholder="CharityCo. or John Doe" ><br><br>
  <label for="Email Address">Email Address :</label><br><br>
  <input type="Email" id="Email" name="Email" placeholder="salhateswaste@gmail.com" ><br><br>
  <label for="phone">(Optional) Enter a phone number:</label><br><br>
  <input type="tel" id="phone" name="phone" placeholder="123-45-678" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"><br><br>
  <small>Format: 123-45-678</small><br><br>
  <label for="Exact Address of Organization">Exact Address of Organization :</label><br><br>
  <input type="Address" id="Address" name="Address" placeholder="123 Sesame Street, City, State, 12345" ><br><br>
  <label for="When will this be available?">When will this be available? :</label><br><br>
  <input type="Address" id="Address" name="Address" placeholder="123 Sesame Street, City, State, 12345" ><br><br>
  <input type="submit">
    {% comment %} {% for prompt in InfoPrompt %}
        <p>{{prompt.org_name}}</p>
        <p>{{prompt.org_email|safe}}</p>
        <br><br>
    {% endfor %} {% endcomment %}
</body>

<script src="{% static 'tinymce/js/prism.js' %}"></script>