{% extends 'main/header.html' %}

{% block content %}
<style>
    .active{
        color: #342E37;
        background-color: #fafafa;
    }

    .inactive{
        color: #fafafa;
        background-color: #616161;
    }

    .corner-card{
        border-radius: 25px;
    }

    .container {
        /* display: flex; */
        justify-content: center;
        flex-direction: row;
    }

    .alignleft {
	    float: left;
    }

    .alignright {
	    text-align: right;
        margin-left:auto; 
        margin-right:0;
        
    }

</style>
<body>
        <div class="container col s12 m6">
            <div class="card hoverable">
                <!-- card can also be a chip -->
                <div class="card-content center ">
                    <span class="card-title">Welcome</span>
                    
                    <a href="#" class="btn active">Login</a>
                    <a href="signup" class="btn inactive">Sign Up</a>

                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                        <span class="helper-text" data-error="wrong" data-success="right"></span>
                    </div>
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                        <span class="helper-text" data-error="wrong" data-success="right"></span>
                    </div>
                    
                    <a href="#" class="waves-effect waves-light green btn">Submit</a>

                    <div class="alignright">
                        <a href="#" >Forgot Password</a>
                    </div>
                    

                    <div class="divider"></div>
                    <div class="col-xs-6">
                        <a href="#" class="waves-effect waves-light btn">Facebook</a>
                    </div>
                    <div class="col-xs-6">
                        <a href="#" class="waves-effect waves-light btn">Google</a>
                    </div>
                          
                    
              
                </div>
            </div>
        </div>
</body>
{% endblock %}