{% extends 'main/header.html' %}

{% block content %}
<style>

    .active:hover, .active{
        color: #342E37;
        background-color: #ffffff;
    }


    .inactive:hover, .inactive{
        color: #ffffff;
        background-color: #212121;
        opacity: 0.7;
    }


    .container {
        /* display: flex; */
        justify-content: center;
        flex-direction: row;
    }

    .floatright {
	    float: right;
    }

    .alignright {
	    text-align: right;
        margin-left:auto; 
        margin-right:0;
        
    }

    .card {
        max-width: 700px;
        min-width: 300px;
        margin-top: 10%;
        margin-left:auto; 
        margin-right:auto;
        border-radius: 35px;
        height: auto;
        width: 60%;

        /* overflow: hidden; */
    }

    .btn{
        margin-top: 3%;
        border-radius: 5px;
    }
    


    .tab-btn{
        -webkit-box-shadow: 0px -2px 3px rgba(50, 50, 50, 0.75);
        -moz-box-shadow: 0px -2px 3px rgba(50, 50, 50, 0.75);
        box-shadow: 0px -2px 3px rgba(50, 50, 50, 0.75);
        
    }

    .input-field{
        max-width: 70%;
        margin-left:auto; 
        margin-right:auto;
    }

    #facebook, .facebook:hover{
        background-color: #3b5998;
    }

    #google, .google:hover{
        background-color: #de5246;
    }

</style>
<body>
        <div class="container col s8 m6">
            
            <div class="card hoverable">
                <!-- card can also be a chip -->
                <a href="javascript:history.back()" class = "btn-floating btn-small waves-effect waves-light floatright red">
                    <i class = "material-icons">close</i>
                </a>
                
                <div class="card-content center ">
                    <!-- <span class="card-title">Welcome</span> -->
                    <h2 class="center">Welcome!</h2>

                    <a href="#" class="btn active tab-btn z-depth-1">Login</a>
                    <a href="signup" class="btn inactive tab-btn z-depth-1">Sign Up</a>



                    <div class="input-field col s7" style= "margin-top:3rem;">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                        <span class="helper-text" data-error="wrong" data-success="right"></span>
                    </div>
                    <div class="input-field col s7">
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                        <span class="helper-text" data-error="wrong" data-success="right"></span>
                    </div>
                    
                    <a href="#" class=" waves-effect waves-light green btn-large" style= "margin-top:1rem; margin-bottom:2rem;" >Submit</a>

                    <div class="alignright">
                        <a href="#" >Forgot Password</a>
                    </div>
                    

                    <div class="divider"></div>
                    <div class="col-xs-6">
                        <a href="#" id="facebook" class="waves-effect waves-light btn"><i class="material-icons left">face</i>Sign in with Facebook</a>
                    </div>
                    <div class="col-xs-6">
                        <a href="#" id="google" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Sign in with Google</a>
                    </div>
                          
                    
              
                </div>
            </div>
        </div>
</body>
{% endblock %}