{% extends 'main/header.html' %}

{% block content %}
<head>
  {% load static %}
  <title>Surplus Map - Sal Hates Waste</title>
</head>


<style>
  .Donation {
    float: left;
    margin: auto;
    padding: 10pt;
    width: 40%;
  }
  .Map {
    float: right;
    margin: auto;
    padding: 10pt;
    width: 60%;
  }
  .card {
    width: 400pt;
  }
  .input-field {
    margin: auto;
    padding: 20px;
    width: 100%;
  }
  textarea {
    margin: auto;
  }
  #map {
      margin: auto;
      height: 600pt;  /* The height is 400 pixels */
      width: 600pt;  /* The width is the width of the web page */
     }
  </style>


<body>

<!-- NAVBAR -->
{% comment %} <section>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo center">Salhateswaste</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="About.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>
  </nav>
</section>{% endcomment %}

<!-- MAP -->
<section class="Map">
      <!--The div element for the map -->
  <div id="map"></div>
</section> 


<!-- DONATION INFORMATION -->
<section class="Donation">
  <div class="row">
    <div class="col s12 m6">
      <div class="card white">
        <h2 class="filter-title center-align blue-text">Filters</h2>
        <div class="card-content white">
          <p class="search-location center-align" style="font-size:1.6vw">Location</p>
          <nav class="search-title-filter white">
            <div class="nav-wrapper">
              <form>
                <div class="input-field">
                  <input id="search" type="search" required>
                  <label for="search"><i class="material-icons">search</i></label>
                  <i class="material-icons">close</i>
                </div>
              </form>
            </div>
          </nav>
          <br>
          <form action="#">
            <p class="time-range center-align black-text" style="font-size:1.6vw">Donors or Recipients?</p>
            <br>
            <p>
              <label>
                <input class="with-gap" name="group1" type="checkbox" id="donor" onchange="updateView(this)";/>
                <span>Donors</span>
              </label>
            </p>
            <p>
              <label>
                <input class="with-gap" name="group1" type="checkbox"  id="recipient" onchange="updateView(this)";/>
                <span>Recipients</span>
              </label>
            </p>
          </form>
          <br>
          <div class="time-picker">
            <p class="time-picker-header center-align black-text" style="font-size:1.6vw">Time(s) Available</p>
          </div>
          <br>
          <div class="input-field col s12">
              <p><label><input value="0" type="checkbox" id="All" onchange="updateView(this)"><span>All</span></label></p>
              <p><label><input value="1" type="checkbox" id="7am" onchange="updateView(this)"><span>7am</span></label></p>
              <p><label><input value="2" type="checkbox" id="8am" onchange="updateView(this)"><span>8am</span></label></p>
              <p><label><input value="3" type="checkbox" id="9am" onchange="updateView(this)"><span>9am</span></label></p>
              <p><label><input value="4" type="checkbox" id="10am" onchange="updateView(this)"><span>10am</span></label></p>
              <p><label><input value="5" type="checkbox" id="11am" onchange="updateView(this)"><span>11am</span></label></p>
              <p><label><input value="6" type="checkbox" id="12pm" onchange="updateView(this)"><span>12pm</span></label></p>
              <p><label><input value="7" type="checkbox" id="1pm" onchange="updateView(this)"><span>1pm</span></label></p>
              <p><label><input value="8" type="checkbox" id="2pm" onchange="updateView(this)"><span>2pm</span></label></p>
              <p><label><input value="9" type="checkbox" id="3pm" onchange="updateView(this)"><span>3pm</span></label></p>
              <p><label><input value="10" type="checkbox" id="4pm" onchange="updateView(this)"><span>4pm</span></label></p>
              <p><label><input value="11" type="checkbox" id="5pm" onchange="updateView(this)"><span>5pm</span></label></p>
              <p><label><input value="12" type="checkbox" id="6pm" onchange="updateView(this)"><span>6pm</span></label></p>
              <p><label><input value="13" type="checkbox" id="7pm" onchange="updateView(this)"><span>7pm</span></label></p>
              <p><label><input value="14" type="checkbox" id="8pm" onchange="updateView(this)"><span>8pm</span></label></p>
              <p><label><input value="15" type="checkbox" id="9pm" onchange="updateView(this)"><span>9pm</span></label></p>
              <p><label><input value="16" type="checkbox" id="10pm" onchange="updateView(this)"><span>10pm</span></label></p>
          </div>
          <br><br>
          <div class="date-picker">
            <p class="date-picker-header center-align black-text" style="font-size:1.6vw">Day(s) Available</p>
          </div>
          <br>
          <div class="input-field col s12">
            <p><label><input value="0" type="checkbox" id="All" onchange="updateView(this)"><span>All</span></label></p>
            <p><label><input value="1" type="checkbox" id="Sunday" onchange="updateView(this)"><span>Sunday</span></label></p>
            <p><label><input value="2" type="checkbox" id="Monday" onchange="updateView(this)"><span>Monday</span></label></p>
            <p><label><input value="3" type="checkbox" id="Tuesday" onchange="updateView(this)"><span>Tuesday</span></label></p>
            <p><label><input value="4" type="checkbox" id="Wednesday" onchange="updateView(this)"><span>Wednesday</span></label></p>
            <p><label><input value="5" type="checkbox" id="Thursday" onchange="updateView(this)"><span>Thrusday</span></label></p>
            <p><label><input value="6" type="checkbox" id="Friday" onchange="updateView(this)"><span>Friday</span></label></p>
            <p><label><input value="7" type="checkbox" id="Saturday" onchange="updateView(this)"><span>Saturday</span></label></p>  
          </div>
          <br>
          <form action="#">
            <p class="time-range center-align black-text" style="font-size:1.6vw">Perishable?</p>
            <br>
            <p>
              <label>
                <input class="with-gap" name="group1" type="checkbox" id="perishable" onchange="updateView(this)"/>
                <span>Perishable</span>
              </label>
            </p>
            <p>
              <label>
                <input class="with-gap" name="group1" type="checkbox" id="non-perishable" onchange="updateView(this)"/>
                <span>Non-Perishable</span>
              </label>
            </p>
          </form>
          <br>
        </div>
            <div class="card-action center-align">
              <a href="#">Can't find what you're looking for?</a>
            </div>
        </div>
      </div>
  </div>
</section>






<br></br>

</body> 

<script src="{% static 'tinymce/js/prism.js' %}"></script>




<script>

// Initialize and add the map
function initMap() {
  // The location of Uluru
  var uluru = {lat: -25.344, lng: 131.036};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 4, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});
}
</script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    
<!-- <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">
    
</script> -->

<script src="https://maps.googleapis.com/maps/api/js?key=&v=3&language=ee&dummy=dummy.js"></script>

<script>

// This goes in the second web page:
// Retrieve the sessionStorage variable
var place = sessionStorage.getItem('place'); 
</script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('select').formSelect();
  });
</script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.datepicker');
    var instances = M.Datepicker.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>





<script>
var gmarkers1 = [];
var markers1 = [];
var infowindow = new google.maps.InfoWindow({
  content: ''
});

// Our markers
// These serve as temporary data to filter on for each of the "posts"
markers1 = [
  ['0', 'Title 1', 52.4357808, 4.991315699999973, ['donor', 'perishable'], ['12pm', '9am', '3pm']],
  ['1', 'Title 2', 52.4357808, 4.981315699999973, ['donor'], ['12pm', '9am', '3pm']],
  ['2', 'Title 3', 52.4555687, 5.039231599999994, ['recipient', 'non-perishable'], ['12pm', '9am', '3pm', '4pm', '5pm']],
  ['3', 'Title 4', 52.4555687, 5.029231599999994, ['recipient'], ['9am', '10am', '11am']],
  ['3', 'Title 4', 52.4655687, 5.029231599999994, ['recipient'], ['9am', '10am', '11am']]
];

markerCount = markers1.length
// Function to init map
function initialize() {
  var center = new google.maps.LatLng(52.4357808, 4.991315699999973);
  var mapOptions = {
    zoom: 12,
    center: center,
    mapTypeId: google.maps.MapTypeId.TERRAIN
  };

  map = new google.maps.Map(document.getElementById('map'), mapOptions);
  for (i = 0; i < markerCount; i++) {
    addMarker(markers1[i]);
  }
}
// Function to add marker to map
function addMarker(marker) {
  var category = marker[4];
  var title = marker[1];
  var pos = new google.maps.LatLng(marker[2], marker[3]);
  var content = marker[1];

  marker1 = new google.maps.Marker({
    title: title,
    position: pos,
    category: category,
    map: map
  });

  gmarkers1.push(marker1);

  // Marker click listener
  google.maps.event.addListener(marker1, 'click', (function(marker1, content) {
    return function() {
      console.log('Gmarker 1 gets pushed');
      infowindow.setContent(content);
      infowindow.open(map, marker1);
      map.panTo(this.getPosition());
      map.setZoom(15);
    }
  })(marker1, content));
}
// Function on Change of checkbox
updateView = function(element) {
  if (element) {
    //Get array with names of the checked boxes
    checkedBoxes = ([...document.querySelectorAll('input[type=checkbox]:checked')]).map(function(o) {
      return o.id;
    });
    console.log(checkedBoxes);
    for (i = 0; i < markerCount; i++) {
      marker = gmarkers1[i];
      console.log(marker.category)
      //Filter to show any markets containing ALL of the selected options
      if (typeof marker.category == 'object' && checkedBoxes.every(function(o) {
          return (marker.category).indexOf(o) >= 0;
        })) {
        marker.setVisible(true);
      } else {
        marker.setVisible(false);
      }
    }
  } else {
    console.log('No param given');
  }
}
// Init map
initialize();
</script>


{% endblock %}
