{% extends 'main/header.html' %}

{% block content %}
<head>
  {% load static %}
  {% load escapejson %}
  <title>Surplus Map - Sal Hates Waste</title>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'map_page_style.css' %}">
</head>

<body>
  <div id="mega-container" class="row">
    <!-- DONATION INFORMATION -->
    <section class="Donation">
      <div>
        <div id="donate-col" class="col s14 m6">
          <div class="card hoverable scroll-box">
            <h2 class="filter-title center-align" style="color:#3C91E6" >Filters</h2>
            <div class="card-content">
              <p class="search-location filter-label center-align">Location</p>
              <!-- <nav class="search-title-filter white"> -->
              <!-- <div class="nav-wrapper"> -->
              <div class="input-field">
                <input id="search" type="search" required="" class="pac-target-input" placeholder="Where to look"
                  autocomplete="off">
                <i class="material-icons" id="search-button" style="display: inline-flex;">search</i>
              </div>
              <!-- </div> -->
              <!-- </nav> -->
              <br>
              <form action="#">
                <p class="time-range filter-label center-align  ">Donors or Recipients?</p>
                <br>
                <p>
                  <label>
                    <input class="with-gap" name="group1" type="checkbox" id="Donor" onchange="updateView(this)" ; />
                    <span>Donors</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input class="with-gap" name="group1" type="checkbox" id="Recipient" onchange="updateView(this)"
                      ; />
                    <span>Recipients</span>
                  </label>
                </p>
              </form>
              <br>

              <form action="#">
                <p class="time-range filter-label center-align  ">Must be able to deliver</p>
                <br>
                <p>
                  <label>
                    <input class="with-gap" name="deliverable" type="checkbox" id="deliverable"
                      onchange="updateView(this)" />
                    <span>Yes</span>
                  </label>
                </p>
              </form>
              <!-- <form action="#">
                <p class="time-range filter-label center-align  ">Perishable?</p>
                <br>
                <p>
                  <label>
                    <input class="with-gap" name="perishable" type="checkbox" id="perishable"
                      onchange="updateView(this)" />
                    <span>Perishable</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input class="with-gap" name="non-perishable" type="checkbox" id="non-perishable"
                      onchange="updateView(this)" />
                    <span>Non-Perishable</span>
                  </label>
                </p>
              </form> -->
              <br>
              <div class="time-picker">
                <p class="time-picker-header filter-label center-align  ">Time(s) Available</p>
                <div id="time-range">
                  <p>Availability Range: <span class="slider-time">05:00 AM</span> - <span class="slider-time2">08:00
                      PM</span>
                  </p>
                  <div class="sliders_step1">
                    <div id="slider-range"></div>
                  </div>
                </div>
              </div>
              <br><br>
              <div class="date-picker">
                <p class="date-picker-header filter-label center-align  ">Day(s) Available</p>
              </div>
              <div class="input-field col s12">
                <p><label><input value="0" type="checkbox" id="All-days" class="day_of_week" onchange="updateView(this)"
                      onchange="filterMarkers(this);"><span>All</span></label></p>
                <p><label><input value="1" type="checkbox" id="su" class="day_of_week" onchange="updateView(this)"
                      onchange="filterMarkers(this);"><span>Sunday</span></label></p>
                <p><label><input value="2" type="checkbox" id="m" class="day_of_week" onchange="updateView(this)"
                      onchange="filterMarkers(this);"><span>Monday</span></label></p>
                <p><label><input value="3" type="checkbox" id="tu" class="day_of_week" onchange="updateView(this)"
                      onchange="filterMarkers(this);"><span>Tuesday</span></label></p>
                <p><label><input value="4" type="checkbox" id="w" class="day_of_week"
                      onchange="updateView(this)" onchange="filterMarkers(this);"><span>Wednesday</span></label></p>
                <p><label><input value="5" type="checkbox" id="th" class="day_of_week" onchange="updateView(this)"
                      onchange="filterMarkers(this);"><span>Thursday</span></label></p>
                <p><label><input value="6" type="checkbox" id="f" class="day_of_week" onchange="updateView(this)"
                      onchange="filterMarkers(this);"><span>Friday</span></label></p>
                <p><label><input value="7" type="checkbox" id="sa" class="day_of_week" onchange="updateView(this)"
                      onchange="filterMarkers(this);"><span>Saturday</span></label></p>
              </div>
              
              <div><br>

                <br>
                
              </div>
             
              
             
            </div>
            
          </div>
        </div>
       
      </div>
    </section>

    <!-- MAP -->
    <section class="Map ">
      <!--The div element for the map -->
      <div id="map"></div>
      
    </section>

  </div>
  <div class="center">
    <a id="cannot" class="btn-small center-align" href="contact">Can't find what you're looking for?</a>
  </div>
  <br></br>

  {% include 'main/footer.html' %}
</body>


<!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->

<!-- <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">
    
</script> -->

<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbMU1uNeRWo7V47J7Bz3WJSaLKQxz6DbE&libraries=places"></script>
<!-- <script src="/maps/documentation/javascript/examples/markerclusterer/markerclustererplus@4.0.1.min.js"></script> -->
<script src="{% static 'google/markerclustererplus/dist/markerclustererplus.min.js' %}"></script>

<script>

  // Retrieve the sessionStorage variable and search


  var place = sessionStorage.getItem('place');
  // console.log(sessionStorage.getItem('place'));
  if (place !== null && place !== "") {
    var searchbox = document.getElementById('search');
    searchbox.value = place;
    document.addEventListener('DOMContentLoaded', function () {
      $(document).ready(function () {
        window.onload = function () {
          document.getElementById("search-button").click();
        };
        sessionStorage.setItem("place", "");
        // console.log(sessionStorage.getItem('place'));  
      });
    });
  }

</script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var elems = document.querySelectorAll('select');
    // var instances = M.FormSelect.init(elems, options);
    var instances = M.FormSelect.init(elems);
  });

  // Or with jQuery

  $(document).ready(function () {
    $('select').formSelect();
  });
</script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var elems = document.querySelectorAll('.datepicker');
    var instances = M.Datepicker.init(elems);
    // var instances = M.Datepicker.init(elems, options);

  });

  // Or with jQuery

  $(document).ready(function () {
    $('.datepicker').datepicker();
  });

</script>


<script>
  //Slider UI and functionality 
  $("#slider-range").slider({
    range: true,
    min: 0,
    max: 1440,
    step: 15,
    values: [300, 1200],
    slide: function (e, ui) {
      var hours1 = Math.floor(ui.values[0] / 60);
      var minutes1 = ui.values[0] - (hours1 * 60);

      if (hours1.length == 1) hours1 = '0' + hours1;
      if (minutes1.length == 1) minutes1 = '0' + minutes1;
      if (minutes1 == 0) minutes1 = '00';
      if (hours1 >= 12) {
        if (hours1 == 12) {
          hours1 = hours1;
          minutes1 = minutes1 + " PM";
        } else {
          hours1 = hours1 - 12;
          minutes1 = minutes1 + " PM";
        }
      } else {
        hours1 = hours1;
        minutes1 = minutes1 + " AM";
      }
      if (hours1 == 0) {
        hours1 = 12;
        minutes1 = minutes1;
      }



      $('.slider-time').html(hours1 + ':' + minutes1);

      var hours2 = Math.floor(ui.values[1] / 60);
      var minutes2 = ui.values[1] - (hours2 * 60);

      if (hours2.length == 1) hours2 = '0' + hours2;
      if (minutes2.length == 1) minutes2 = '0' + minutes2;
      if (minutes2 == 0) minutes2 = '00';
      if (hours2 >= 12) {
        if (hours2 == 12) {
          hours2 = hours2;
          minutes2 = minutes2 + " PM";
        } else if (hours2 == 24) {
          hours2 = 11;
          minutes2 = "59 PM";
        } else {
          hours2 = hours2 - 12;
          minutes2 = minutes2 + " PM";
        }
      } else {
        hours2 = hours2;
        minutes2 = minutes2 + " AM";
      }

      $('.slider-time2').html(hours2 + ':' + minutes2);
    }
  });
</script>

<script>

  var gmarkers1 = [];
  var markers1 = [];
  var markerCluster;
  var infowindow = new google.maps.InfoWindow({
    content: ''
  });

  markers1 = JSON.parse('{{result|escapejson}}');
  console.log(markers1)
  markerCount = markers1.length

  // Function to init map
  function initialize() {

    // CT Location Initialization
    var center = new google.maps.LatLng(41.5261113, -72.6632546);
    var mapOptions = {
      zoom: 9,
      center: center,
      mapTypeId: google.maps.MapTypeId.TERRAIN,
    };

    map = new google.maps.Map(document.getElementById('map'), mapOptions);

    for (i = 0; i < markerCount; i++) {
      addMarker(markers1[i]);
    }
    
    
    // Create the search box and link it to the UI element.
    const searchBox = new google.maps.places.SearchBox(document.getElementById('search'));
    // google.maps.event.addListener(searchBox, 'places_changed', processPlacesSearch);

    // Bias the SearchBox results towards current map's viewport.
    map.addListener("bounds_changed", () => {
      searchBox.setBounds(map.getBounds());
    });
    let markers = [];
    // Listen for the event fired when the user selects a prediction and retrieve
    // more details for that place.
    searchBox.addListener("places_changed", () => {
      const places = searchBox.getPlaces();

      if (places.length == 0) {
        return;
      }
      // Clear out the old markers.
      markers.forEach(marker => {
        marker.setMap(null);
      });
      markers = [];


      // For each place, get the icon, name and location.
      const bounds = new google.maps.LatLngBounds();
      places.forEach(place => {
        if (!place.geometry) {
          console.log("Returned place contains no geometry");
          return;
        }
        const icon = {
          url: place.icon,
          size: new google.maps.Size(71, 71),
          origin: new google.maps.Point(0, 0),
          anchor: new google.maps.Point(17, 34),
          scaledSize: new google.maps.Size(25, 25)
        };
        // Create a marker for each place.
        var marker =  new google.maps.Marker({
            map,
            icon,
            title: place.name,
            position: place.geometry.location
          })

        // markers.push(marker);
        
        if (place.geometry.viewport) {
          // Only geocodes have viewport.
          bounds.union(place.geometry.viewport);
        } else {
          bounds.extend(place.geometry.location);
        }
      });
      map.fitBounds(bounds);
    });

    // google.maps.event.addListener(map, 'dragend', function () {
    //   ajax_update_markers();
    // });
    // google.maps.event.addListener(map, 'zoom_changed', function () {
    //   ajax_update_markers();
    // });
    // google.maps.event.addListener(map, 'idle', function () {
    //   ajax_update_markers();
    // });

    markerCluster = new MarkerClusterer(map, gmarkers1,
      { maxZoom: 20, imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m' },);

  }



  //Function to Search when search button is clicked
  document.getElementById('search-button').onclick = function () {
    var input = document.getElementById('search');
    google.maps.event.trigger(input, 'focus', {});
    google.maps.event.trigger(input, 'keydown', { keyCode: 13 });
    google.maps.event.trigger(this, 'focus', {});

  };

  // Function to add marker to map
  function addMarker(marker) {
    
    // var category = marker[4];
    // var availability = marker[5];
    // var title = marker[1];
    // var pos = new google.maps.LatLng(marker[2], marker[3]);
    // var content = marker[1] + " " + marker [4];
    var category = [marker["donor_or_recip"], marker["post_deliver"] ];
    if(marker["donor_or_recip"]=='Both'){
      category.push('Donor')
      category.push('Recipient')
    }
    if(marker["post_deliver"]==true){
      category.push('deliverable')
    }

    var availability = [];
    var wholeAvail = '';
    if( marker["availability_set"].length==0){
      var wholeAvail = 'Contact for Availabilities';
    } else {
      for (j = 0; j < marker["availability_set"].length; j++) {
        var days = " "
        marker["availability_set"][j]['post_day'].forEach(function (day, i) {
            category.push(day)
            days = days + day +", "
        });
        wholeAvail += "<p>"+ days + "&emsp;&emsp;" +marker["availability_set"][j]['start_hour']+' - '+ marker["availability_set"][j]['end_hour'] +"</p>";
      }
    }

    for (j = 0; j < marker["availability_set"].length; j++){
      availability.push([marker["availability_set"][j]["start_min"],marker["availability_set"][j]["end_min"]])
    }
    var thumbnail = marker['post_image']
    var title = marker["post_title"];
    var pos = new google.maps.LatLng(marker["post_lat"], marker["post_long"]);

    var content = "<div class=infowindow style='width:fit-content;'>"+"<h1 class=center style= 'margin-top:0rem; margin-bottom:3%;'>" + title + "</h1>" + 
                  "<div class='row center' style='margin-left:0; margin-right:auto;'><image class='col' style= 'float: none; max-width: 30%; max-height: 30%; margin-left:auto; margin-right:0;' src="+thumbnail+" >" +
                  "<div class='col' style='float:none; margin-left:0; margin-right:auto;'> <div id='date-time'>"+ wholeAvail +"</div>" + "<p>" + marker["post_desc"] + "</p></div></div>"+
                  "<strong style='float:right;'><a style=':blue' href="+ marker["post_slug"] +" >Read More</a></strong></div>";

    //get array of markers (wish this was just the ones currently in cluster)
    var allMarkers = gmarkers1;

    //final position for marker, could be updated if another marker already exists in same position
    var finalLatLng = pos;

    //check to see if any of the existing markers match the pos of the new marker
    if (allMarkers.length != 0) {
        for (i=0; i < allMarkers.length; i++) {
            var existingMarker = allMarkers[i];
            var existingPos = existingMarker.getPosition();

            //if a marker already exists in the same position as this marker
            if (pos.equals(existingPos)) {
                //update the position of the coincident marker by applying a small multipler to its coordinates
                var newLat = pos.lat() + (Math.random() -.5) / 10000;// * (Math.random() * (max - min) + min);
                var newLng = pos.lng() + (Math.random() -.5) / 10000;// * (Math.random() * (max - min) + min);
                finalLatLng = new google.maps.LatLng(newLat,newLng);
            }
        }
    }

    marker1 = new google.maps.Marker({
      title: title,
      position: finalLatLng,
      category: category,
      availability: availability,
      map: map,

    });

    marker1.getDraggable = function () {
      return false;
    };


    
    gmarkers1.push(marker1);
    

    // Marker click listener
    google.maps.event.addListener(marker1, 'click', (function (marker1, content) {
      return function () {
        console.log('Gmarker 1 gets pushed');
        infowindow.setContent(content);
        infowindow.open(map, marker1);
        map.panTo(this.getPosition());
        // map.setZoom(15);
      }
    })(marker1, content));


  }



  // Function on Change on Slide
  $(function () {
    var newclusters = [];
    $("#slider-range").slider();

    var startPos = $("#slider-range").slider("value");
    endPos = '';

    $("#slider-range").on("slidestop", function (event, ui) {
      endPos = ui.value;

      if (startPos != endPos) {
        var low_bound = $('#slider-range').slider("values")[0];
        var high_bound = $('#slider-range').slider("values")[1];

        // console.log(low_bound);
        // console.log(high_bound);
        for (i = 0; i < markerCount; i++) {
          marker = gmarkers1[i];
          // console.log(marker.category)
          for (j = 0; j < marker.availability.length; j++){
            //Filter to show any markers with some of their time in the availability range
            if ((low_bound < marker.availability[j][0] && marker.availability[j][0] < high_bound) ||
              (low_bound < marker.availability[j][1] && marker.availability[j][1] < high_bound)) {
              marker.setVisible(true);
              newclusters.push(marker);
              break;
            } else {
              marker.setVisible(false);
            }
          }
            


        }

      }
      startPos = endPos;
      //Replace clusters with filtered ones
      markerCluster.clearMarkers();
      markerCluster.addMarkers(newclusters);
      newclusters = [];
    });
  });




  // Function on Change of checkbox
  updateView = function (element) {
    var newmarkers = [];

    // Handle an "All checkbox" change
    if (document.getElementById('All-days') == element && document.getElementById('All-days').checked) {
      $('input[class="day_of_week"]').each(function () {
        this.checked = true;
      });
    }
    if (document.getElementById('All-days') == element && (document.getElementById('All-days').checked != true)) {
      $('input[class="day_of_week"]').each(function () {
        this.checked = false;
      });
    }

    if (element) {
      //Get array with names of the checked boxes
      checkedBoxes = ([...document.querySelectorAll('input[type=checkbox]:checked')]).map(function (o) {
        return o.id;
      });
      // console.log(checkedBoxes);
      for (i = 0; i < markerCount; i++) {
        marker = gmarkers1[i];
        // console.log(marker.category)
        //Filter to show any markets containing ALL of the selected options
        if (typeof marker.category == 'object' && checkedBoxes.every(function (o) {
          return (marker.category).indexOf(o) >= 0;
        })) {
          marker.setVisible(true);

          newmarkers.push(marker);
        } else {
          marker.setVisible(false);
        }

      }


    } else {
      console.log('No param given');
    }

    //Replace clusters with filtered ones
    markerCluster.clearMarkers();
    markerCluster.addMarkers(newmarkers);
  }

  // Asks for updates from the back end
  // function ajax_update_markers() {
  //   var r = map.getBounds().getNorthEast().lng();
  //   var l = map.getBounds().getSouthWest().lng();
  //   var t = map.getBounds().getNorthEast().lat();
  //   var b = map.getBounds().getSouthWest().lat();

  //   $.ajax({
  //     type: "GET",
  //     url: "/map_page",
  //     data: { 'right': r, 'left': l, 'top': t, 'bottom': b, 'zoom': map.getZoom() },
  //     async: true,
  //     dataType: 'json',
  //     success: function (data) {
  //       drawMarkers(data);
  //     }
  //   });
  // }

  // Init map
  initialize();

  // google.maps.event.addDomListener(window, "load", initialize);
</script>


{% endblock %}