{% extends 'main/header.html' %}

{% block content %}
{% load static %}


<style>
  .Map {
    float: right;
    margin: auto;
    padding: 20pt;
  }
  .Donation {
    float: left;
    margin: 20pt;
    padding: 20pt;
    width: 800pt;
  }
  .input-field {
    margin: 30px;
    padding: 20px;
    width: 500px;
  }
  textarea {
    margin: 15px;
  }
  #map {
      margin: auto;
      height: 600px;  /* The height is 400 pixels */
      width: 600px;  /* The width is the width of the web page */
     }
  </style>


<body>

<!-- NAVBAR -->
{% comment %} <section>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo center">Salhateswaste</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="About.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>
  </nav>
</section>

<!-- MAP -->
<section class="Map">
  <h3 class="center-align">My Google Maps Demo</h3>
      <!--The div element for the map -->
  <div id="map"></div>
</section> {% endcomment %}


<!-- DONATION INFORMATION -->
<section class="Donation">
<div class="row">
    <div class="col s12 m6">
      <div class="card white">
        <h2 class="filter-title center-align blue-text">Filters</h2>
        <div class="card-content white-text">
          <br>
          <form action="#">
            <p>
              <label>
                <input name="group1" type="radio" checked />
                <span>Donors</span>
              </label>
            </p>
            <p>
              <label>
                <input name="group1" type="radio" />
                <span>Recipients</span>
              </label>
            </p>
          </form>
          <br>
          <form action="#">
            <h4 class="time-range center-align black-text">Time Range</h4>
            <p class="range-field">
              <input type="range" id="test5" min="0" max="100" />
            </p>
          </form>
          <br>
          <div class="date-picker">
            <h4 class="date-picker-header center-align black-text">Date(s) Available</h4>
            <input type="text" class="datepicker">
          </div>

        </div>
        <form action="#">
          <p>
            <label>
              <input name="group1" type="radio" checked />
              <span>Perishable</span>
            </label>
          </p>
          <p>
            <label>
              <input name="group1" type="radio" />
              <span>Non-perishable</span>
            </label>
          </p>
        </form>
        <div class="card-action center-align">
          <a href="#">Can't find what you're looking for?</a>
        </div>
      </div>
    </div>
  </div>
 </section>






<br></br><br></br>

</body> 

<script src="{% static 'tinymce/js/prism.js' %}"></script>

<script>

// Initialize and add the map
function initMap() {
  // The location of Uluru
  var uluru = {lat: -25.344, lng: 131.036};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 4, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});
}
</script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">
</script>
<script>

// This goes in the second web page:
// Retrieve the sessionStorage variable
var place = sessionStorage.getItem('place'); 
</script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.datepicker');
    var instances = M.Datepicker.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>


{% endblock %}
