{% extends 'main/header.html' %}


{% block content %}
<head>
    <title>User Profile</title>
    {% load static %}
    {% load crispy_forms_tags %}
    <!-- needed for JS/GoogleMaps lookup -->
    {{ form.media }}
</head>
<style>
  .select{
    display: block;
  }
</style>
<body>
    <!-- {% if not google_api_key_set %}
    <p>This django-address example site is running correctly.
    <p>However, you <span class="bold">must</span> set <span class="fixed-width">GOOGLE_API_KEY</span> in settings.py to use this demo.</p>
    <p>See this <a target="_blank" href="https://github.com/furious-luke/django-address/blob/master/example_site/README.md">sample project's readme</a> for instructions.</p>
    {% else %}
    <h1>django-address demo application</h1>
    <form action="" method="post">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Submit">
    </form>
    {% if success %}
    <p>Successfully submitted an address.</p>
    <p>View address model data in <a href="{% url 'admin:index' %}">django admin</a>.</p>
    {% endif %}
    <p>Total addresses saved: {{ addresses.count }}</p>
    {% endif %} -->

    <div class="container">
      <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% load widget_tweaks %}
                    
          {{ form.non_field_errors }}
          {{ form.source.errors }}
          {{ form.source }}
          {{ profile_form.source }}
          <!-- <table>
          {{ form.as_table }}
          {{ profile_form }}
          </table> -->
          
          <!-- Invisible -->
          <div class="input-field col s7" style="display:none;">
            <label for="email">Your Account Email</label>
            {{form}}
            <span class="helper-text" data-error="Invalid Email" data-success="">{{ form.email.errors }}</span>
          </div>
          <!-- Invisible -->


          <div class="input-field col s7" style="margin-top:3rem;">
            <label for="org-name">Your Organization's Name</label>
            {{  profile_form.org_name |add_class:"validate" }}
          </div>
          <div class="input-field col s7">
              <label for="org-email">Email Address</label>
              {{  profile_form.org_email |add_class:"validate" }}
              <span class="helper-text" data-error="Invalid Email" data-success="">{{ form.email.errors }}</span>
          </div>
          <div>
            <label for="org_role">Do You Donate Food or Recieve It?</label>
            {{  profile_form.org_role |add_class:"select" }}
          </div>
          
          <button type="submit">Submit</button>
      </form>
      <br>
    </div>
    {% include 'main/footer.html' %}
</body>
{% endblock %}